<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">
    <img routerLink="/mainn" routerLinkActive="active" src="https://res.cloudinary.com/djjocjsr5/image/upload/v1652018740/lazy_notes-logos_transparent_xlllqg.png" width="80" width="80" alt="There supposed to be a logo somewhere">
  </a>
  <button mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect (click)="authService.SignOut()" style="text-align: center;">Powrót do strony głównej</button>
</nav>

<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Dołącz do nas</h3>

      <div class="formGroup">
        <input
          type="email"
          class="formControl"
          placeholder="Email"
          #userEmail
          required
        />
      </div>

      <div class="formGroup">
        <input
          type="password"
          class="formControl"
          placeholder="Hasło"
          #userPwd
          required
        />
      </div>

      <div class="formGroup">
        <input
          type="button"
          class="btn btnPrimary"
          value="Dołącz"
          (click)="authService.SignUp(userEmail.value, userPwd.value)"
        />
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">Albo</span></span>
      </div>

      <div class="formGroup">
        <button
          type="button"
          class="btn googleBtn"
          (click)="authService.GoogleAuth()"
        >
          <i class="fab fa-google-plus-g"></i>
          Kontynuuj z Google
        </button>
      </div>
    </div>

    <div class="redirectToLogin">
      <span
        >Maszju konto?
        <span class="redirect" routerLink="/sign-in">Zaloguj się</span></span
      >
    </div>
  </div>
</div>
