h3
{
  text-align: left;
  margin-left: 2%;
}
.padd
{
  padding: 0 0 5% 0;
}
@media (min-width: 0px) {
  h2 {
      font-size: 26px;
      padding: 5%;
      margin-top: 5%;
  }
  
.header {
  padding: 5%;
  margin-top: 5%;
}

.jumbo {
  font-size: 48px;
}
}

@media (min-width: 900px) {
    h2 {
        font-size: 100px;
        padding: 5%;
        margin-top: 5%;
    }
    
  .header {
    padding: 5%;
    margin-top: 5%;
  }

  .jumbo {
    font-size: 48px;
  }
}
