.product-card {
  background-color: rgba(66, 66, 170, 0.534);
  color: black;
  font-family: 'Helvetica', cursive;
  height: 100%;
  width: 80%;
}

.product-card:hover {
   cursor: pointer;
}

.mat-card-image {
  object-fit: contain;
  max-height: 290px;
}
